@model it_aud6_mvc.Models.Client
@{
    ViewBag.Title = "ShowClient";
}

@if (Model.Age < 18)
{
    <h2 class="text-danger">Not an adult</h2>
}
else
{
    <h2>@Model.Name, @Model.Legitimation</h2>
    <h5>Phone: @Model.Phone</h5>
    <h5>Address: @Model.Address</h5>
}



